
.models{
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.ZVehicles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carPics{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    flex-basis: 33%;
    overflow: hidden;
    
}

.carPics > h3, p{
    margin: 1.5rem;
    margin-top: calc(1rem);
}

.carPics > p{
    margin-bottom: 4rem;
}


.covering{
    background-color: #EFEFEF;
    z-index: 99;
    display: block;
    height: 45px;
    width: calc(100%);
    order: 0;
}

.picHov{
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.picHov:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.carPics > img{
    transition: all 0.5s ease-out;
}

.carPics > h3{
    white-space: nowrap;
}

.models{
    display: none;
    height: 46px;
    animation: textFall 1s forwards;
    animation-timing-function: ease-out;
}

.offersAnimation{
    display: flex !important;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 1s forwards;
    animation-timing-function: ease-out;
    white-space: nowrap;
    margin: 4rem !important;
}

.offersAnimation > h2{
    position: relative;
}

.offersAnimation > h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    background-color: black;
    height:2px;
    animation: slideInFromLeftUnderline2 1s forwards;
}

.offersAnimation2 > h2::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-55.5%);
    width: calc(var(--h2-width) + 3%);
    background-color: black;
    height:2px;
    animation: slideFromMiddleToRightUnderline 1.25s forwards;
}

@keyframes slideFromMiddleToRightUnderline {
    0%{
        transform: translateX(-50.5%);
        opacity: 1;
      }

    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  

.offersAnimation2{
    animation: slideFromMiddleToRight 1s forwards;
    animation-timing-function: ease-out;
    display: flex !important;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromLeftUnderline2 {
    0%{
        transform: translateX(50%);
        opacity: 0;
      }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideFromMiddleToRight {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(10%);
      opacity: 0;
    }
  }


  
 .noneDisplay{
     opacity: 0;
     margin: 4rem;
 }

 .offersButtons{
    position: absolute;
    bottom: 0px;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
    white-space: nowrap;
    padding: .5rem;
    transition: all 0.6s ease;
 }

 .offersButtons:hover{
    transition: all 0.6s ease;
    color: white;
    background-color: black;
    border-color: white;
    padding: .75rem;
    letter-spacing: 4px;
 }

@media  (max-width: 830px) {
  .ZVehicles{
    flex-direction: column;
  }

  .covering{
    height: 30px;
  }
}