
.models{
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.ZVehicles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carPics{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    flex-basis: 33%;
    overflow: hidden;
    
}

.carPics > h3, p{
    margin: 1.5rem;
    margin-top: calc(1rem);
}

.carPics > p{
    margin-bottom: 4rem;
}


.covering{
    background-color: #EFEFEF;
    z-index: 99;
    display: block;
    height: 45px;
    width: calc(100%);
    order: 0;
}

.picHov{
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.picHov:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.carPics > img{
    transition: all 0.5s ease-out;
}

.carPics > h3{
    white-space: nowrap;
}

.models{
    display: none;
    height: 46px;
    animation: textFall 1s forwards;
    animation-timing-function: ease-out;
}

.offersAnimation{
    display: flex !important;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft .75s forwards;
    animation-timing-function: ease-out;
    white-space: nowrap;
}

.offersAnimation2{
    animation: slideFromMiddleToRight .75s forwards;
    animation-timing-function: ease-out;
    display: flex !important;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideFromMiddleToRight {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(10%);
      opacity: 0;
    }
  }
  
  
 .noneDisplay{
     opacity: 0;
     margin: 2rem;
     margin-bottom: calc(2rem - 20px);
 }

 .offersButtons{
    position: absolute;
    bottom: 0px;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
    white-space: nowrap;
    padding: .5rem;
    transition: all 0.6s ease;
 }

 .offersButtons:hover{
    transition: all 0.6s ease;
    color: white;
    background-color: black;
    border-color: white;
    padding: .75rem;
    letter-spacing: 4px;
 }