.carousel .carousel-control-prev{
    color: white;
    background-color: rgba(0, 0, 0, 0.713);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    backdrop-filter: blur(100px);
}

.carousel .carousel-control-next{
    color: white;
    background-color: rgba(0, 0, 0, 0.713);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    backdrop-filter: blur(100px);
}

.carousel-caption{
    position: absolute;
    color: white;
    letter-spacing: 10px;
    font-size:x-large;
    top: 0px;
    width: 100%;
    left: 0% !important;
}

.carousel-caption > h3{
    animation: text 1.5s 1;
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    font-size:xx-large;
    
}


.carousel-caption > h3::after{
    color: rgb(255, 255, 255);
    content: "";
    height: 3px;
    position: absolute;
    bottom: -3px;
    background: rgb(255, 255, 255);
    left: 0px;
    width: 100%;
}


.carousel-caption > p {
    animation: text2 2.3s 1;
    color: rgb(252, 252, 252);
    letter-spacing: 7px;
    margin-top: .25rem;
}


@keyframes text2 {
    0%{
        
     opacity: 0%;
     transform: translateY(-35px);
    }

    50%{
        opacity: 0%;
        transform: translateY(-16px);
    }

    80%{
        opacity: 100%;
    }

    100%{
        transform: translateY(-1px);
       
    }
}

@keyframes text {
    0%{
     opacity: 0;
    }
    30%{
      letter-spacing: 15px;
      opacity: 0;
    }
    100%{
        opacity: 1;
      letter-spacing: 10px;
      
    }
}


@media (max-width:  768px) {
    .carousel .carousel-control-prev{
        transform: scale(.8);
    }

    .carousel .carousel-control-next{
        transform: scale(.8);
    }
}

@media (max-width:  510px) {
    .carousel .carousel-control-prev{
        transform: scale(.5);
        left: 15px;
    }

    .carousel .carousel-control-next{
        transform: scale(.5);
        right: 15px;
    }
}


@media (min-width: 1300px) {
    .carousel-caption > h3{
        transform: scale(2);
        animation: text 2.2s 1;
    }

    .carousel-caption > p{
        font-size: 40px;
        margin-top: 2rem;
        animation: text2 3s 1;
    }

  }


  @media (max-width:520px) {
    .carousel-caption > h3{
        white-space: nowrap;
        font-size: large;
      }

      .carousel-caption > p{
        font-size: medium;
      }
  }

  @media (max-width: 440px){
    .carousel-caption > h3{
        white-space: nowrap;
        font-size: small;
      }

      .carousel-caption > p{
        font-size: 11px;
      }
  }