.homePage{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-x: hidden;
}

.liner{
    border-bottom: 3px solid #5656563d;
    border-radius: 20px;
    width: 75%;
    align-self: center;
    margin: 10rem;
    margin-top: 10.75rem;
}

.buttonSpacer{
    height: 50px;
    z-index: 90;
}

@media (max-width: 800px) {
    .liner{
        margin: 5rem
    }
}