#nav-Adjust{
    margin-right: 20px !important;
    position: absolute;
    right: 5rem;
}
.adjust-Responsive-Nav{
    justify-content: space-between !important;
    flex-direction: row;
}

.navbar{
    height: 95px;
    background-color: #EFEFEF;  
}

.navBar1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.347) 0px 4px 10px 0px;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

#flex-Ender{
    justify-content: space-between !important;
}

#brandPicture{
    width: 90px;
    height: auto;
    max-width: 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.underLine{
    position: relative;
    margin-right: 1rem;
    color: black !important;
}

.underLine:after{
    content: "";
    width: 0px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.4s;
}

.underLine:hover:after{
    width:100%;
    transition: 0.4s;
}

#searchBar{
    outline: 2px solid rgba(0, 0, 0, 0.196);
    margin-right: 3rem;
}

@media (max-width: 850px) {
    #searchBar{
        margin-right: .5rem;
    }
}

@media (max-width: 992px) {
    #nav-Adjust{
        width: 100%;
        height: calc(100vh - 54px) ;
        left: 0;
        overflow-x: hidden !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        background-color: white;
        transition: all .3s ease-in-out;
    }


    .underLine:hover:after{
        width:0px;
    }

    #nav-Adjust > *{
        color: rgba(0, 0, 0, 0.767);
        font-size: larger;
        padding: 1rem;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.196);
        font-family: 'nobel-regular', sans-serif;
        letter-spacing: 1px;
    }

    #nav-Adjust:nth-child(1){
        margin-top: 10px;
    }

    #searchBar{
        outline: none;
        margin-right: none;
    }

    #searchBar > *{
        outline: 2px solid rgba(0, 0, 0, 0.196);
        margin-right: none;
    }

    .afterNav:hover{
        background-color: rgba(0, 0, 0, 0.196);
        transition: all .3s ease-in-out;
    }
  }

  @media screen and (max-width: 860px) {
    .navbar{
        height: 70px;
    }
  }

  