

.homePage{
    background-color: #efefef
}

.container1{
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(148,148,148,1) 74%);
    height: fit-content;
}

*{
    box-sizing: border-box;
}

.rowBanner1 > img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

#imageBanner1{
    min-width: calc(200px + 1.5rem);
    min-height: calc(200px + 1.5rem);
    max-width: calc(200px + 1.5rem);
    max-height: calc(200px + 1.5rem);
    width: auto;
    height: auto;
}

#imageBanner2{
    min-width: calc(200px + 1.5rem);
    min-height: calc(200px + 1.5rem);
    max-width: calc(200px + 1.5rem);
    max-height: calc(200px + 1.5rem);
    width: auto;
    height: auto;
}


#imageBanner3{
    min-width: calc(200px + 1.5rem);
    min-height: calc(200px + 1.5rem);
    max-width: calc(200px + 1.5rem);
    max-height: calc(200px + 1.5rem);
    width: auto;
    height: auto;
}


.gridSystemBanner{
    margin-top: 0rem;
}
.relativePictures{
    display: flex;
    min-width: calc(234px + 1.5rem);
    min-height: calc(234px + 1.5rem);
    max-width: calc(234px + 1.5rem);
    max-height: calc(234px + 1.5rem);
    width: auto;
    height: auto;
    position: relative;
    margin-top: 15rem;
}



.relativePicture1{
    position: absolute;
    right: 130px;
    bottom: 130px;
}


.relativePicture2{
    position: absolute;
}

.relativePicture3{
    position: absolute;
    left: 110px;
    top: 110px;
}

.toolsPic3{
    animation: fallAnimationTools2 1s ease-out forwards;
}   
.toolsPic{
    animation: fallAnimationTools 1s ease-out forwards;
}

.toolsPic2{
    animation: fadingIn 1s ease-out forwards;
}
.toolsPicR1{
    animation: fadingOut 2s ease-out forwards;
}

.toolsPicR2{
    transform: translate(106px, 106px);
    animation: fadingOut 1s ease-out forwards;
}

.toolsPicR3{
    transform: translate(215px, 215px);
    animation: fadingOut 1s ease-out forwards;
}

.fading{
    animation: fadingOut 1s ease-out forwards;
}

@keyframes fallAnimationTools2 {
    0% {
        opacity: 0;
        transform: translate(130px, 130px);
    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}


@keyframes fadingOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fadingIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes fallAnimationTools {
    0% {
        opacity: 0;
        transform: translate(-110px, -110px);
    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}


.picturesHover:hover .description{
    display: block;
   
}

.animator:hover{
    
    z-index: 9999;
}






.relativePicture1:hover::before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}


.relativePicture2:hover::before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}

.relativePicture3:hover::before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}

.gridSystemBanner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridSystemBanner1{
    grid-column: 2;
}

.gridSystemBanner1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}

.carText1{
    display: none;
}

.animateText{
    display: block;
    transform: rotate(90deg);
    transition: all 1s ease-in;
}

.toolsAnimation{
    text-align: center;
    font-size: 48px;
    width: 100%;
    letter-spacing: 5px;
    animation: fallAnimation .85s forwards;
    position: absolute;
    top: 0;
}

.toolsAnimation2{
    text-align: center;
    font-size: 48px;
    width: 100%;
    letter-spacing: 5px;
    animation: fallAnimation2 .85s;
    position: absolute;
    top: 0;
}

@keyframes fallAnimation2 {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(25%);
      opacity: 0;
    }
  }




@keyframes fallAnimation {
    0% {
      transform: translateY(-75%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.noneDisplay2{
    opacity: 0;
    height: 72px;
}

.animationContainer{
    width: 100%;
    display: flex;
    position: relative;
}

.parrallax{
    width: 100%;
    min-width: 100%;
    height: 600px;
    background-image: url("banner3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.placeHolder{
    height: 900px;
}

.opacity{
    opacity: 0;
}


.picture1tooler::before{
    color: #efefef00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "SPECIAL OFFERS";
    filter: brightness(3360%);
    letter-spacing: 6px;
    white-space: nowrap;
    transition: all .5s ease-in-out;
}

.picture1toolera::before{
    color: #efefef00;
    position: absolute;
    top: 50%;
    content: "VIEW INVENTORY";
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(3360%);
    letter-spacing: 6px;
    white-space: nowrap;
    transition: all .5s ease-in-out;
}

.picture1toolerb::before{
    color: #efefef00;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "BUILD YOUR CAR";
    transform: translate(-50%, -50%);
    filter: brightness(3360%);
    letter-spacing: 6px;
    white-space: nowrap;
    transition: all .5s ease-in-out;
}
.picture1tooler:hover:before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}


.picture1tooler{
    
    padding: .3rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform .5s ease-in-out,  filter 0.5s ease-out, box-shadow 0s ease-in-out;
}

.picture1tooler:hover{
    transform: scale(1.06) !important;
    transition: transform .5s ease-in-out, filter .5s ease-out,  box-shadow 0s ease-in-out;
    z-index: 9999;
    outline: 5px solid white;
    filter: saturate(0.01);
}

.picture1tooler:hover .description{
    display: block;
}
