

.homePage{
    background-color: #efefef
}

.container1{
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(148,148,148,1) 74%);
    height: fit-content;
}

*{
    box-sizing: border-box;
}

.rowBanner1 > img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

#imageBanner1{
    min-width: calc(200px + 1.5rem);
    min-height: calc(200px + 1.5rem);
    max-width: calc(200px + 1.5rem);
    max-height: calc(200px + 1.5rem);
    width: auto;
    height: auto;
    border-radius: 30px;
}

#imageBanner2{
    min-width: calc(200px + 1.5rem);
    min-height: calc(200px + 1.5rem);
    max-width: calc(200px + 1.5rem);
    max-height: calc(200px + 1.5rem);
    width: auto;
    height: auto;
    border-radius: 30px;
}


#imageBanner3{
    min-width: calc(200px + 1.5rem);
    min-height: calc(200px + 1.5rem);
    max-width: calc(200px + 1.5rem);
    max-height: calc(200px + 1.5rem);
    width: auto;
    height: auto;
    border-radius: 30px;
}

.gridSystemBanner{
    margin-top: 20rem;
}

.gridSystemBanner1{
    display: flex;
    justify-content: center;
    height: 600px;
}

.relativePictures{
    display: flex;
    min-width: calc(325px + 1.5rem);
    min-height: calc(325px + 1.5rem);
    max-width: calc(325px + 1.5rem);
    max-height: calc(325px + 1.5rem);
    width: auto;
    height: auto;
    position: relative;
}

.relativePicture1{
    position: absolute;
    right: 225px;
    bottom: 75px;
}

.relativePicture2{
    position: absolute;
    top: 100px;
}

.relativePicture3{
    position: absolute;
    bottom: 155px;
    left: 50px;
}

.picturesHover:hover{
    transition: transform .5s ease-in-out, filter .5s ease-out,  box-shadow 0s ease-in-out;
    z-index: 9999;
    transform: scale(1.1);
    box-shadow: 0 0 0 2px #afafaf;
    filter: saturate(0.01);
}

.picturesHover:hover .description{
    display: block;
}

.picturesHover{
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.15), 0 12px 28px rgba(0, 0, 0, 0.1);
    transition: transform .5s ease-in-out, box-shadow 0s ease-in-out;
}

.relativePicture1::before{
    color: #efefef00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "BUILD YOUR CAR";
    z-index: 1000;
    filter: brightness(3360%);
    letter-spacing: 6px;
    white-space: nowrap;
    transition: all .5s ease-in-out;
}


.relativePicture1:hover::before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}

.relativePicture2::before{
    color: #efefef00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "SPECIAL OFFERS";
    z-index: 1000;
    filter: brightness(3360%);
    letter-spacing: 6px;
    white-space: nowrap;
    transition: all .5s ease-in-out;
}

.relativePicture2:hover::before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}

.relativePicture3::before{
    color: #efefef00;
    letter-spacing: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    content: "VIEW INVENTORY";
    z-index: 1000;
    transition: all .5s ease-in-out;
    
}

.relativePicture3:hover::before{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 10px;
    padding: .4rem;
    transition: all .5s ease-in-out;
}

.gridSystemBanner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridSystemBanner1{
    grid-column: 2;
}

.gridSystemBanner1{
    display: flex;
    justify-content: center;
    height: 900px;
}

.carText1{
    display: none;
}

.animateText{
    display: block;
    transform: rotate(90deg);
    transition: all 1s ease-in;
}

.toolsAnimation{
    text-align: center;
    font-size: 48px;
    width: 100%;
    letter-spacing: 5px;
    animation: fallAnimation 1.1s forwards;
    position: absolute;
    top: 0;
}

.toolsAnimation2{
    text-align: center;
    font-size: 48px;
    width: 100%;
    letter-spacing: 5px;
    animation: fallAnimation2 1.1s;
    position: absolute;
    top: 0;
}

@keyframes fallAnimation2 {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(25%);
      opacity: 0;
    }
  }




@keyframes fallAnimation {
    0% {
      transform: translateY(-75%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.noneDisplay2{
    opacity: 0;
    height: 72px;
}

.animationContainer{
    width: 100%;
    display: flex;
    position: relative;
}